body {
margin:0px;
padding:0px;
}

.headerFlex {
    display: flex; 
    gap: 0px;
}

.navigationCenterTool {
    color: white;
    padding: 30px;
    background-color: rgb(141, 134, 134);
    flex-basis: 40%;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoCenterTool{
    color: white;
    padding: 25px;
    margin: 0px;
    background-color: gray;
    align-content: center;
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.socialsCenterTool{
    color: white;
    padding: 34px;
    margin: 0px;
    background-color: rgb(165, 159, 159);
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderCenterTool{
    color: white;
    background-color: yellow;
    text-align: center;
    padding: 140px;
    margin: 0px;
}

.articlesFlex {
    padding: 0px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.footerCenterTool {
    color: white;
    background-color: gray;
    text-align: center;
    padding: 15px;
    margin: 0px;
}

.info {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    color: white;
    background-color: rgb(83, 81, 81)  
}

.articlescenterTool{
    color: white;
    background-color: rgb(207, 207, 19);
    padding: 20px;
    aspect-ratio: 1;
    align-content: center; 
}

.articlesCenterTool{
    color: white;
    padding: 20px;
    aspect-ratio: 1;
    align-content: center;
}

@media screen and (max-width:600px) {
    .headerFlex {
        
        flex-direction: column-reverse;
    
    }
    
    .articlesFlex{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .articlesCenterTool{
        justify-content: center;
        
    }

    .articlescenterTool{
        justify-content: center;
    }
         
}

@media screen and (min-width:600px) and (max-width: 1024px) {
    .navigationCenterTool{
        flex-basis: 95%;
    }

    .logoCenterTool{
        flex-basis: 5%;
    }

    .articlesFlex{
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .socialsCenterTool{
        display: none;
    }


}